{% extends "base.html "%}
 {% block head %}{% endblock %}
{% block title %} about {% endblock %}
{% block image %} <img class="card-img " style="height:600px" src="static/conact.jpg"> {%endblock%}



{% block content %}
 <div class="title" >
            <h1 style="font-weight:900;">Contact Me</h1>
            <h3 style="font-weight:100;">Have questions?? I have answers.</h3>

        </div>

    </div>
    </div>
<!-------------------------------    NAVBAR      ------------------------------->
<!-------------------------------    NAVBAR      ------------------------------->

<div class="sec2" >
    <div>
    <p class="about-body">
        Want to get in touch? Fill out the form to send me a message and  i will
        get back to you as soon as possible!
    </p>
        <form action="{{ url_for('receive_data') }}" method="POST">
        <input type="text" class="form-control"  name="nm"  placeholder="Name">
        <input type="email" class="form-control" name="mail"  placeholder="Email address">
        <input type="text" class="form-control"  name="phone" placeholder="Phone Number">
       <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
        <button type="submit" class="btn btn-lg btn-primary send-btn">SEND</button>
        </form>
     </div>




</div>


<hr class="fl-hr">
{% endblock %}

