{% from 'bootstrap4/form.html' import render_form %}
{% extends "base.html" %}
{% block title %} login {% endblock %}
{% block head %}{% endblock %}
{% block image %} <img class="about-img" src="..."> {%endblock%}


{% block content %}

 <div class="title" >
            <h1 style="color:black;">Welcome</h1>

        </div>

    </div>
    </div>
<!-------------------------------    NAVBAR      ------------------------------->
<!-------------------------------    NAVBAR      ------------------------------->

<div class="sec2 " >

       {{render_form(form)}}

</div>


<hr class="fl-hr">



{% endblock %}
