{% from 'bootstrap4/form.html' import render_form %}
{% extends "base.html" %}
{% block title %} login {% endblock %}
{% block head %}{% endblock %}

{% block image %}
    <div style="background-image: linear-gradient(to bottom right, blue, MediumOrchid);">
        <img  style="height:500px" class="card-img " >
    </div>
{%endblock%}

{% block content %}
<div class="sec2 " >
      <div class="log-form">
            <form method="post">
               {{render_field(form.email, placeholder='Email Address' )}}
               {{render_field(form.pw, placeholder='Password' )}}
               {{render_field(form.submit )}}
            </form>
       </div>
       

</div>


<hr class="fl-hr">



{% endblock %}
