{% from 'bootstrap5/form.html' import render_form %}
{% extends "base.html" %}
    {% block title %} 
             {% if is_edit %}
                 Edit Post
            {% else %}
                Create Your legend
            {% endif %}

    {% endblock %}
{% block head %}{% endblock %}

{% block image %}
     <div style="background-image: linear-gradient(to bottom right, Gold, DeepPink);">
            <img style="height:500px"  class="card-img">
    </div>

{%endblock%}

        {% block content %}
        
{{ render_form(form,
              extra_classes='my-5 text-start fs-5 fw-bold make-post form-control',
              button_size='btn btn-lg fs-5  fw-bold',

               ) }}
{{ ckeditor.load() }}

<hr class="fl-hr">
{% endblock %}
