{% from 'bootstrap5/form.html' import render_form %}
{% extends "base.html" %}
    {% block title %} Create a post {% endblock %}
{% block head %}{% endblock %}

{% block image %}
        <img src="static/photo1.jpg" class="card-img " >

{%endblock%}

        {% block content %}
        <div class="title" >
            {% if is_edit: %}
            <h1 style="font-weight:900; ">Edit Post </h1>

            {% else: %}
            <h1 style="font-weight:900; ">Create Your legend </h1>
            <h3 style="font-weight:100;">A collection of Alaa's random musings.</h3>
            {%endif%}
        </div>


    </div>
    </div>
<!-------------------------------    NAVBAR      ------------------------------->
<!-------------------------------    NAVBAR      ------------------------------->

{{ render_form(form, action='/new_post', method='POST',
              extra_classes='my-5 text-start fs-5 fw-bold make-post form-control',
              button_size='btn btn-lg fs-5  fw-bold',

               ) }}

<hr class="fl-hr">
{% endblock %}
